@model LoginUser

<div class="login">
    <h2>Login</h2>
    <form asp-action="Login" asp-controller="home" method="post">
        <span asp-validation-for="email"></span><br>    
        <input asp-for="email" placeholder="Email"></input><br>

        <span asp-validation-for="password"></span><br>
        <input asp-for="password" placeholder="Password"></input><br>

        <button class="submit">Login</button>
    <div class="text-center">
        <a href="/" class="inline">Need to register?</a>
    </div>
    </form>
</div>