@model LoginUser

<div>
    <h2 class="display-4 inline">Login</h2>
</div>

<div class="login">
    <form asp-action="Login" asp-controller="home" method="post">
        <span asp-validation-for="email"></span><br>    
        <input asp-for="email" placeholder="Email"></input><br>

        <span asp-validation-for="password"></span><br>
        <input asp-for="password" placeholder="Password"></input><br>

        <button class="submit">Login</button>
        <a href="/" class="inline">Need to register?</a>
    </form>
</div>