@model User

<div class="reg">
    <h2>Developer Registration</h2>
    <form asp-action="RegisterDev" asp-controller="home" method="post">
        <span asp-validation-for="firstName"></span><br>
        <input asp-for="firstName" placeholder="First name"></input><br>

        <span asp-validation-for="lastName"></span><br>
        <input asp-for="lastName" placeholder="Last name"></input><br>

        <span asp-validation-for="email"></span><br>
        <input asp-for="email" placeholder="Email"></input><br>

        <span asp-validation-for="password"></span><br>
        <input asp-for="password" placeholder="Password"></input><br>

        <span asp-validation-for="confirmPassword"></span><br>
        <input asp-for="confirmPassword" placeholder="Confirm Password"></input><br>

        <button class="submit">Sign Up</button>
    </form>
    <div class="text-center">
        <a href="/" class="inline">Register as an Administrator</a> | 
        <a href="/login" class="inline">Already registered?</a> |
        <a href="" class="inline">Login as Guest</a>
    </div>
</div>