@model User

<div class="reg">
    <h4>Admin Registration</h4>
    <form asp-action="RegisterAdmin" asp-controller="home" method="post">
        <span asp-validation-for="firstName"></span><br>
        <input asp-for="firstName" placeholder="First name"></input><br>

        <span asp-validation-for="lastName"></span><br>
        <input asp-for="lastName" placeholder="Last name"></input><br>

        <span asp-validation-for="email"></span><br>
        <input asp-for="email" placeholder="Email"></input><br>

        <span asp-validation-for="password"></span><br>
        <input asp-for="password" placeholder="Password"></input><br>

        <span asp-validation-for="confirmPassword"></span><br>
        <input asp-for="confirmPassword" placeholder="Confirm Password"></input><br>

        <button class="submit">Sign Up</button><br>
    </form>
    <div class="text-center">
        <a href="/devreg" class="inline">Register as a Developer</a> | 
        <a href="/login" class="inline">Already registered?</a>
        <form asp-action="GuestUser" asp-controller="home" method="post">
            <button class="guest-login"><a>Login as Guest</a></button>
        </form>
    </div>
</div>