* {
  margin: 0px;
  padding: 0px;
}

html {
  margin: 10px;
}

/* body  */
body {
  background: rgb(35, 43, 51);
  color: #768aa0;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #6D7781;
  font-family: 'Sofia', cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
}

span {
  color: rgb(175, 66, 66);
  font-size: 12px;
}

a {
  color: #6c7b8b;
  text-decoration: none;
  font-size: 12px;
}

a:hover {
  color: #1FCE6D;
}

.login {
  top: 25%;
}

.login, .reg {
  width: 400px;
  position: absolute;
  left: 50%;
  margin-left: -175px;
}

.reg {
  top:10%;
}

input { 
  width: 400px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: #6D7781;
  font-size: 16px;
}

::-webkit-input-placeholder {
  color: #435160;
  font-size: 12px;
}

.submit {
  background: #1FCE6D;
  border: 0;
  width: 400px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background .3s ease-in-out;
  margin-top:15px;
}

.submit:hover {
  background: #16aa56;
  animation-name: shake;
}

/* navbar  */
.sidenav {
  background-color: whitesmoke;
  width: 4%;
  position: relative;
}

#logo {
  width: 50%;
  margin-top: 10px;
}

#nav-bottom {
  margin-top: 50vh;
  position: fixed;
  bottom: 75px;
  left: 0;
  right: 0;
}


/* grid  */

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  background-color: rgb(35, 43, 51);
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  font-size: 14px;
  border-radius: 5px;
  height: 88vh;
  overflow-y: scroll;
}

/* scrollbar  */
::-webkit-scrollbar {
  width: 0px;
}


/* new ticket  */
#create-form {
  width: 50vw;
}


/* ticket display */
.card {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin: 5px;
  color: rgb(70, 68, 68);
}

.card:hover, .close:hover {
  cursor: pointer;
}

.card-link {
  text-decoration: none;
}

.card-link:hover {
  text-decoration: none;
  color: rgb(34, 155, 34);
}

p {
  margin: 5px 10px;
  display: inline-block;
}

.heading {
  color: black;
  font-weight: 800;
}

.hidden {
  display: none;
}

.key {
  color:whitesmoke;
}

/* modal  */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  max-height: 98%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: whitesmoke;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 100%;
}

h3 {
  margin-left: 10px;
}

.edit-select {
  width: 40%;
  display: inline-block;
}