* {
  margin: 0px;
  padding: 0px;
}

html {
  margin: 10px;
}
      
/* body  */
body {
  background: rgb(35, 43, 51);
  color: #768aa0;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: #6D7781;
  font-family: 'Sofia', cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}

span {
  color: rgb(175, 66, 66);
  font-size: 12px;
}

a {
  color: #6c7b8b;
  text-decoration: none;
  font-size: 12px;
}

a:hover {
  color: #1FCE6D;
}

.login {
  top: 25%;
}

.login, .reg {
  width: 400px;
  position: absolute;
  left: 50%;
  margin-left: -175px;
}

.reg {
  top:5%;
}

input { 
  width: 400px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: #6D7781;
  font-size: 16px;
}

::-webkit-input-placeholder {
  color: #435160;
  font-size: 12px;
}

.submit {
  background: #1FCE6D;
  border: 0;
  width: 400px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background .3s ease-in-out;
  margin-top:15px;
}

.submit:hover {
  background: #16aa56;
  animation-name: shake;
}

/* navbar  */
.sidenav {
  background-color: whitesmoke;
  width: 4%;
  position: relative;
}

#logo {
  width: 50%;
  margin-top: 10px;
}

#nav-bottom {
  margin-top: 50vh;
  position: fixed;
  bottom: 75px;
  left: 0;
  right: 0;
}

.sidenav-two {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/* grid  */

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  background-color: rgb(35, 43, 51);
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  border-radius: 5px;
}

/* pop-up form  */
.form-popup {
  display: none;
  position: absolute;
  right: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

/* new ticket  */
#create-form {
  width: 50vw;
}